{% extends 'navbar.html' %}

{% block title %}Market{% endblock %}

{% block content %}
<h1>Market page</h1>
<!-- <p>{{items}}</p> -->
 <table>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>

            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.barcode}}</td>
                    <td>{{item.price}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
 </table>
{% endblock %}
